.currentWeather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Opaque white background */
    padding: 5px;
    border-radius: 10px;
    width: 90%; /* Adjust the width of the container */
    max-width: 900px; /* Set a maximum width */
    position: fixed;
    bottom: 10px; /* Add some space at the bottom */
    left: 50%; /* Center the container */
    transform: translateX(-50%); /* Center the container */
    z-index: 1; /* Ensure the weather data appears above everything else */
  }
  
  .weatherItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 0.8em; /* Adjust the font size */
  }
  
  .weatherItemImg {
    width: 15px;
    height: 15px;
  }
  
  .weatherIcon {
    width: 40px;
    height: 40px;
  }

  .today {
    font-size: 0.8em; /* Make the font size the same as the other text */
    text-align: center; /* Center the text */
  }
  
  @media (max-width: 768px) {
    .currentWeather {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Make the grid items smaller */
      padding: 3px; /* Reduce padding */
      width: 80%; /* Reduce width */
      bottom: auto; /* Remove bottom positioning */
      top: 120px; /* Position it at the top of the map */
    }
  
    .weatherItem {
      font-size: 0.6em; /* Reduce font size */
    }
  
    .weatherItemImg {
      width: 10px; /* Reduce image size */
      height: 10px; /* Reduce image size */
    }
  
    .weatherIcon {
      width: 30px; /* Reduce icon size */
      height: 30px; /* Reduce icon size */
    }
  
    .today {
      font-size: 0.6em; /* Reduce font size */
    }
  }
  